@charset "UTF-8";
/*-------------------------------------
    color
--------------------------------------*/
/*-------------------------------------
    function
--------------------------------------*/
/*-------------------------------------
    general
--------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #2e2e2e;
}

p,
a {
  line-height: 1.7;
  letter-spacing: 1px;
}

/*-------------------------------------
    container
--------------------------------------*/
.container {
  margin: 0 20px;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1281px) {
  .container {
    max-width: 1280px;
  }
}

/*-------------------------------------
    Circle
--------------------------------------*/
.circle {
  width: 100vw;
  padding-top: 100%;
  border-radius: 50%/50%;
  border: 1px solid #c9c9c9;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  background-color: #ffeeee;
}
.circle_1 {
  width: 70vw;
  padding-top: 70%;
  border-radius: 50%/50%;
  border: 1px solid #c9c9c9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #f2feff;
}
.circle_2 {
  width: 30vw;
  padding-top: 30%;
  border-radius: 50%/50%;
  border: 1px solid #c9c9c9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1003;
  background-color: #fff;
}
.circle_divide_1 {
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(105deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
}
.circle_divide_2 {
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(135deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
}
.circle_divide_3 {
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(165deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
}
.circle_divide_4 {
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(195deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
}
.circle_divide_5 {
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(225deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
}
.circle_divide_6 {
  display: block;
  width: 100vw;
  height: 1px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(255deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
}

[data-position] {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1005;
  font-size: 11px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  line-height: 1.3;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%/50%;
  box-shadow: 1px 1px 3px #9b9b9b;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 640px) {
  [data-position] {
    font-size: 16px;
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 769px) {
  [data-position] {
    font-size: 18px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1025px) {
  [data-position] {
    font-size: 24px;
    width: 96px;
    height: 96px;
  }
}
[data-position]:hover {
  background-color: #f4f4f4;
}
[data-position].tonic {
  background-color: #adffaa;
}
[data-position].dominant {
  background-color: #ff9d96;
}
[data-position].sdominant {
  background-color: #f3ff96;
}

/*---------------------------------
  1層目
---------------------------------*/
[data-position="1"] {
  top: 7.5%;
  left: 50%;
}

[data-position="2"] {
  top: 13.5%;
  left: 71%;
}

[data-position="3"] {
  top: 29%;
  left: 87%;
}

[data-position="4"] {
  top: 50%;
  left: 92.5%;
}

[data-position="5"] {
  top: 71%;
  left: 86.5%;
}

[data-position="6"] {
  top: 87%;
  left: 71.5%;
}

[data-position="7"] {
  top: 92.5%;
  left: 50%;
}

[data-position="8"] {
  top: 87%;
  left: 29.5%;
}

[data-position="9"] {
  top: 71%;
  left: 13.5%;
}

[data-position="10"] {
  top: 50%;
  left: 7.5%;
}

[data-position="11"] {
  top: 29%;
  left: 13.5%;
}

[data-position="12"] {
  top: 13.5%;
  left: 29%;
}

/*---------------------------------
  2層目
---------------------------------*/
[data-position="13"] {
  top: 25%;
  left: 50%;
}

[data-position="14"] {
  top: 28%;
  left: 63%;
}

[data-position="15"] {
  top: 37.5%;
  left: 72%;
}

[data-position="16"] {
  top: 50%;
  left: 75%;
}

[data-position="17"] {
  top: 62.5%;
  left: 72%;
}

[data-position="18"] {
  top: 72%;
  left: 63%;
}

[data-position="19"] {
  top: 75%;
  left: 50%;
}

[data-position="20"] {
  top: 72%;
  left: 37%;
}

[data-position="21"] {
  top: 62.5%;
  left: 28%;
}

[data-position="22"] {
  top: 50%;
  left: 25%;
}

[data-position="23"] {
  top: 37.5%;
  left: 28%;
}

[data-position="24"] {
  top: 28%;
  left: 37%;
}

/*---------------------------------
  3層目
---------------------------------*/
[data-position="25"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="26"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="27"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="28"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="29"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="30"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="31"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="32"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="33"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="34"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="35"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

[data-position="36"] {
  z-index: 1000;
  top: 50%;
  left: 50%;
}

.is-active[data-position="25"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="26"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="27"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="28"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="29"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="30"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="31"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="32"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="33"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="34"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="35"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}

.is-active[data-position="36"] {
  z-index: 1003;
  top: 50%;
  left: 50%;
}/*# sourceMappingURL=style.css.map */